
@{
    ViewBag.Title = "Complete";
    //List<WebShopping.Models.Product> ps = Model;
    WebShopping.Models.Order order = Model;
    List<int> counts = ViewBag.counts;
    int i = 0;
}
<h2>注文詳細</h2>
<table id="products"style="border-color:ActiveCaption;">
    @foreach(var detail in order.OrderDetail)
    {
        var item = detail.Product;
        <tr style="border-color:ActiveCaption;border:2px solid">
            <td>
                <img style="width:60px;height:60px;"src="@Url.Content(item.Image)"/>
            </td>
            <td>
                @item.PName
            </td>
            <td>
                @Html.Label(item.Pid.ToString(), item.Price.ToString(), new { id="lable1"})
            </td>
            <td>
                <input width="20"id="count"type="text"value=@counts[i]/>
            </td>
        </tr>
        i++;
    }
    <tr id="s">
        <td id="ss">
            <label id="allprice"style="text-align:right;padding-right:10px">0</label>
            <label id="allcount"style="text-align:right;padding-right:10px">0</label>
        </td>
    </tr>
</table>

