
@{
    ViewBag.Title = "Index";
    List<WebShopping.Models.ProductType> type = ViewBag.Type;
    List<WebShopping.Models.Product> products = ViewBag.P;
}

<h2>ショッピング</h2>
<div>
    <div>
        カテゴリー:<br/>
        <ul>
            @foreach(var item in type)
            {
                <li>@Html.ActionLink(item.PtName,"ProductList",new { id = item.PtId })</li>
            }
        </ul>
    </div> 
    <div>
        商品リスト:<br/>
        <table>
            @foreach(var item in products)
            {
                <tr style="float:left">
                    <td style="text-align:center">
                        
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

