
@{
    ViewBag.Title = "Index";
    List<WebShopping.Models.ProductType> type = ViewBag.Type;
    List<WebShopping.Models.Product> products = ViewBag.P;
}

<h2>ショッピング</h2>
<div>
    <div style="width:200px;float:left;background-color:antiquewhite">
        カテゴリー:<br/>
        <ul>
            @foreach(var item in type)
            {
                <li>@Html.ActionLink(item.PtName,"ProductList",new { id = item.PtId })</li>
            }
        </ul>
    </div> 
    <div style="width:800px;float:left;background-color:aliceblue">
        <br/>
        <table>
            @foreach(var item in products)
            {
                <tr style="float:left">
                    <td style="text-align:center">
                        <a href="/Home/ProductDetails?Pid=@item.Pid&name=@item.PName">
                        <img style="width:250px;height:200px;"src="@Url.Content(item.Image)"/></a>
                        <br/><br/>
                        @Html.ActionLink(item.PName, "ProductDetails", new { pid=item.Pid})
                        <br/><br/>                    
                        商品価格:@item.Price<br/><br/>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

